main[page="home"],main[page="services"],main[page="project-detail"]{
    section.galleries{
        background-color: $bg_dark_agnate;
        padding: 4rem 1rem;
        display: flex;
        flex-wrap: wrap;
        .toDetail{
            display: block;
            .box-img{
                padding: 2rem;
                background-color: #231f20;
                p{
                    font-size: 1.4rem;
                    font-family: 'Sanchez', serif;
                }
                .title{
                    margin-top: 2rem;
                }
                .subTitle{
                    color: #ddd;
                }
                img{
                    height: 40rem;
                    object-fit: cover;
                }
            }
        }
        .list_wrapper{
            padding: 0 0.5rem 0.5rem 0;
            @include respond(tab-port){
                width: 100% !important;
            }
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
            .list_item{
                padding: 1rem;
                background-color: #231f20;
                p{
                    font-size: 1.4rem;
                    font-family: 'Sanchez', serif;
                }
                .title{
                    margin-top: 2rem;
                }
                .subTitle{
                    color: #ddd;
                }
                .img_wrapper{
                    overflow: hidden;
                    img{
                        height: 100%;
                        object-fit: cover;
                        transition: 0.4s all ease-in;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}
