@font-face {
    font-family: "Akzidenz-Grotesk-BQ-Bold";
    src:
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Bold.otf') format('otf'),
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Bold.ttf') format('ttf'),
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Bold.woff') format('woff')
}

@font-face {
    font-family: "Akzidenz-Grotesk-BQ-Regular";
    src:
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Regular.otf') format('otf'),
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Regular.ttf') format('ttf'),
        url('../../public/fonts/Akzidenz-Grotesk-BQ-Regular.woff') format('woff')
}
