#nprogress .spinner {
    display: none;
}

#nprogress .bar {
    background: white;
}

#nprogress .peg {
    box-shadow: 0 0 10px white, 0 0 5px white;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.absolute-centerX{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-centerY{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flex-direction-columns{
    flex-direction: column;
    p{
        text-decoration: none !important;
        font-size: 1.4rem !important;
    }
}