.section_header-arc{
    height: 83%;
    padding: 0 3rem;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    @include respond(phone){
        height: 90vh;
    }
    .img-box{
        padding: 0 2rem;
    }
    p{
        font-family: 'Sanchez', serif;
        font-size: 1.2rem;
    }
    h2{
        font-family: "Akzidenz-Grotesk-BQ-Bold";
        font-size: 2.5rem;
    }
    img{
        margin: 8rem 0;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
        }
    }
    .bd-bt{
        text-decoration: underline;
        font-family: "Akzidenz-Grotesk-BQ-Regular";
    }
}

.section_first-arc{
    background-color: #303030;
    padding: 50px 25px;
    h2{
        color: white;
        margin: 0 0 4rem;
        font-size: 2.5rem;
        font-family: 'Sanchez', serif;
        font-weight: bold;
    }
    .box-img{
        padding: 2rem;
        // height: 100%;
        background-color: #231f20;
        p{
            color: white;
            font-size: 1.4rem;
            font-family: 'Sanchez', serif;
        }
        .title{
            margin-top: 2rem;
        }
        .subTitle{
            color: #ddd;
        }
        img{
            height: 50rem;
            object-fit: cover;
            @include respond(phone){
                height: 40rem;
            }
        }
    }
}